In [21]:
import pandas as pd

In [22]:
path = "/Users/sumaiyanathani/Downloads/98-401-X2021002_eng_CSV/98-401-X2021002_English_CSV_data.csv"

In [23]:
df = pd.read_csv(path, encoding='ISO-8859-1')
df

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,2.0,NaN,NaN,...,NaN,...
3,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420955,2021,2021S0504995,995,Census agglomeration,Yellowknife,3.4,5.7,0,2627,Total - Eligibility and instruction in the min...,...,1750.0,NaN,1705.0,NaN,100.0,NaN,100.0,NaN,100.0,NaN
420956,2021,2021S0504995,995,Census agglomeration,Yellowknife,3.4,5.7,0,2628,Children eligible for instruction in the min...,...,275.0,NaN,285.0,NaN,16.4,NaN,15.7,NaN,16.7,NaN
420957,2021,2021S0504995,995,Census agglomeration,Yellowknife,3.4,5.7,0,2629,Eligible children who have been instructed...,...,195.0,NaN,195.0,NaN,11.4,NaN,11.1,NaN,11.4,NaN
420958,2021,2021S0504995,995,Census agglomeration,Yellowknife,3.4,5.7,0,2630,Eligible children who have not been instru...,...,80.0,NaN,90.0,NaN,4.8,NaN,4.6,NaN,5.3,NaN
420959,2021,2021S0504995,995,Census agglomeration,Yellowknife,3.4,5.7,0,2631,Children not eligible for instruction in the...,...,1475.0,NaN,1420.0,NaN,83.8,NaN,84.3,NaN,83.3,NaN

In [24]:
columns_to_keep=['GEO_NAME','CHARACTERISTIC_ID','CHARACTERISTIC_NAME','C1_COUNT_TOTAL']
reduced_df=df[columns_to_keep]

In [25]:
#cut down columns for readability
reduced_df.head()

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
0,St. John's,1,"Population, 2021",212579.0
1,St. John's,2,"Population, 2016",208418.0
2,St. John's,3,"Population percentage change, 2016 to 2021",2.0
3,St. John's,4,Total private dwellings,97429.0
4,St. John's,5,Private dwellings occupied by usual residents,89999.0

In [26]:
filtered_df = reduced_df[reduced_df['CHARACTERISTIC_ID'] <= 7]

In [27]:
group_df=filtered_df.groupby(['GEO_NAME','CHARACTERISTIC_NAME'])['C1_COUNT_TOTAL'].sum()

In [28]:
pop_df = filtered_df[filtered_df['CHARACTERISTIC_ID']==1]

In [29]:
pop_group=pop_df.groupby(['GEO_NAME','CHARACTERISTIC_NAME'])

In [30]:
top_15_cities = pop_group['C1_COUNT_TOTAL'].max().sort_values(ascending=False).head(15)
top_15_cities = top_15_cities.index.get_level_values(0)
mask = reduced_df['GEO_NAME'].isin(top_15_cities)
top_15_pop_df = reduced_df[mask]

In [31]:
top_15_pop_df.head()

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
15786,Halifax,1,"Population, 2021",465703.0
15787,Halifax,2,"Population, 2016",426932.0
15788,Halifax,3,"Population percentage change, 2016 to 2021",9.1
15789,Halifax,4,Total private dwellings,211789.0
15790,Halifax,5,Private dwellings occupied by usual residents,201138.0

## Employment

In [32]:
emp_rate_df = top_15_pop_df[top_15_pop_df['CHARACTERISTIC_ID'] == 2229]
emp_rate_df

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
18014,Halifax,2229,Employment rate,58.0
75896,Québec,2229,Employment rate,62.0
112730,Montréal,2229,Employment rate,60.7
141671,Ottawa - Gatineau,2229,Employment rate,59.6
146933,Ottawa - Gatineau (Ontario part),2229,Employment rate,59.2
181136,Toronto,2229,Employment rate,56.1
183767,Hamilton,2229,Employment rate,55.3
186398,St. Catharines - Niagara,2229,Employment rate,48.6
189029,Kitchener - Cambridge - Waterloo,2229,Employment rate,59.2
207446,London,2229,Employment rate,54.4
212708,Windsor,2229,Employment rate,49.5
254804,Winnipeg,2229,Employment rate,60.3
307424,Calgary,2229,Employment rate,60.8
325841,Edmonton,2229,Employment rate,60.0
370568,Vancouver,2229,Employment rate,60.0

## Shelter Cost

In [33]:
## Median monthly shelter costs for owned dwellings 
med_owned_shelter_cost = top_15_pop_df[top_15_pop_df['CHARACTERISTIC_ID'] == 1486]
med_owned_shelter_cost

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
17271,Halifax,1486,Median monthly shelter costs for owned dwell...,1270.0
75153,Québec,1486,Median monthly shelter costs for owned dwell...,1140.0
111987,Montréal,1486,Median monthly shelter costs for owned dwell...,1310.0
140928,Ottawa - Gatineau,1486,Median monthly shelter costs for owned dwell...,1440.0
146190,Ottawa - Gatineau (Ontario part),1486,Median monthly shelter costs for owned dwell...,1550.0
180393,Toronto,1486,Median monthly shelter costs for owned dwell...,1900.0
183024,Hamilton,1486,Median monthly shelter costs for owned dwell...,1500.0
185655,St. Catharines - Niagara,1486,Median monthly shelter costs for owned dwell...,1130.0
188286,Kitchener - Cambridge - Waterloo,1486,Median monthly shelter costs for owned dwell...,1540.0
206703,London,1486,Median monthly shelter costs for owned dwell...,1240.0
211965,Windsor,1486,Median monthly shelter costs for owned dwell...,1070.0
254061,Winnipeg,1486,Median monthly shelter costs for owned dwell...,1250.0
306681,Calgary,1486,Median monthly shelter costs for owned dwell...,1740.0
325098,Edmonton,1486,Median monthly shelter costs for owned dwell...,1700.0
369825,Vancouver,1486,Median monthly shelter costs for owned dwell...,1620.0

In [34]:
## Average monthly shelter costs for owned dwellings 
av_owned_shelter_cost = top_15_pop_df[top_15_pop_df['CHARACTERISTIC_ID'] == 1487]
av_owned_shelter_cost

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
17272,Halifax,1487,Average monthly shelter costs for owned dwel...,1370.0
75154,Québec,1487,Average monthly shelter costs for owned dwel...,1201.0
111988,Montréal,1487,Average monthly shelter costs for owned dwel...,1420.0
140929,Ottawa - Gatineau,1487,Average monthly shelter costs for owned dwel...,1562.0
146191,Ottawa - Gatineau (Ontario part),1487,Average monthly shelter costs for owned dwel...,1648.0
180394,Toronto,1487,Average monthly shelter costs for owned dwel...,2108.0
183025,Hamilton,1487,Average monthly shelter costs for owned dwel...,1690.0
185656,St. Catharines - Niagara,1487,Average monthly shelter costs for owned dwel...,1336.0
188287,Kitchener - Cambridge - Waterloo,1487,Average monthly shelter costs for owned dwel...,1612.0
206704,London,1487,Average monthly shelter costs for owned dwel...,1412.0
211966,Windsor,1487,Average monthly shelter costs for owned dwel...,1262.0
254062,Winnipeg,1487,Average monthly shelter costs for owned dwel...,1342.0
306682,Calgary,1487,Average monthly shelter costs for owned dwel...,1802.0
325099,Edmonton,1487,Average monthly shelter costs for owned dwel...,1720.0
369826,Vancouver,1487,Average monthly shelter costs for owned dwel...,1980.0

In [35]:
## Median monthly shelter costs for rented dwellings 
med_rented_shelter_cost = top_15_pop_df[top_15_pop_df['CHARACTERISTIC_ID'] == 1494]
med_rented_shelter_cost

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
17279,Halifax,1494,Median monthly shelter costs for rented dwel...,1170.0
75161,Québec,1494,Median monthly shelter costs for rented dwel...,830.0
111995,Montréal,1494,Median monthly shelter costs for rented dwel...,880.0
140936,Ottawa - Gatineau,1494,Median monthly shelter costs for rented dwel...,1230.0
146198,Ottawa - Gatineau (Ontario part),1494,Median monthly shelter costs for rented dwel...,1370.0
180401,Toronto,1494,Median monthly shelter costs for rented dwel...,1540.0
183032,Hamilton,1494,Median monthly shelter costs for rented dwel...,1210.0
185663,St. Catharines - Niagara,1494,Median monthly shelter costs for rented dwel...,1080.0
188294,Kitchener - Cambridge - Waterloo,1494,Median monthly shelter costs for rented dwel...,1300.0
206711,London,1494,Median monthly shelter costs for rented dwel...,1110.0
211973,Windsor,1494,Median monthly shelter costs for rented dwel...,980.0
254069,Winnipeg,1494,Median monthly shelter costs for rented dwel...,1100.0
306689,Calgary,1494,Median monthly shelter costs for rented dwel...,1350.0
325106,Edmonton,1494,Median monthly shelter costs for rented dwel...,1290.0
369833,Vancouver,1494,Median monthly shelter costs for rented dwel...,1500.0

In [36]:
## Average monthly shelter costs for rented dwellings 
av_rented_shelter_cost = top_15_pop_df[top_15_pop_df['CHARACTERISTIC_ID'] == 1495]
av_rented_shelter_cost

,GEO_NAME,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
17280,Halifax,1495,Average monthly shelter costs for rented dwe...,1247.0
75162,Québec,1495,Average monthly shelter costs for rented dwe...,905.0
111996,Montréal,1495,Average monthly shelter costs for rented dwe...,981.0
140937,Ottawa - Gatineau,1495,Average monthly shelter costs for rented dwe...,1296.0
146199,Ottawa - Gatineau (Ontario part),1495,Average monthly shelter costs for rented dwe...,1412.0
180402,Toronto,1495,Average monthly shelter costs for rented dwe...,1618.0
183033,Hamilton,1495,Average monthly shelter costs for rented dwe...,1328.0
185664,St. Catharines - Niagara,1495,Average monthly shelter costs for rented dwe...,1172.0
188295,Kitchener - Cambridge - Waterloo,1495,Average monthly shelter costs for rented dwe...,1352.0
206712,London,1495,Average monthly shelter costs for rented dwe...,1198.0
211974,Windsor,1495,Average monthly shelter costs for rented dwe...,1069.0
254070,Winnipeg,1495,Average monthly shelter costs for rented dwe...,1140.0
306690,Calgary,1495,Average monthly shelter costs for rented dwe...,1416.0
325107,Edmonton,1495,Average monthly shelter costs for rented dwe...,1330.0
369834,Vancouver,1495,Average monthly shelter costs for rented dwe...,1624.0

In [37]:
cities = top_15_pop_df['GEO_NAME'].unique()
cities

array(['Halifax', 'Québec', 'Montréal', 'Ottawa - Gatineau',
       'Ottawa - Gatineau (Ontario part)', 'Toronto', 'Hamilton',
       'St. Catharines - Niagara', 'Kitchener - Cambridge - Waterloo',
       'London', 'Windsor', 'Winnipeg', 'Calgary', 'Edmonton',
       'Vancouver'], dtype=object)

In [38]:
shelter_and_emp_data = []
for city in cities:

    city_row = top_15_pop_df[(top_15_pop_df['GEO_NAME']==city) & (top_15_pop_df['CHARACTERISTIC_ID'] == 1486)]
    city_name = city_row['GEO_NAME'].iloc[0]
    med_owned_cost = city_row['C1_COUNT_TOTAL'].iloc[0]
    
    city_row = top_15_pop_df[(top_15_pop_df['GEO_NAME']==city) & (top_15_pop_df['CHARACTERISTIC_ID'] == 1487)]
    avg_owned_cost = city_row['C1_COUNT_TOTAL'].iloc[0]
    
    city_row = top_15_pop_df[(top_15_pop_df['GEO_NAME']==city) & (top_15_pop_df['CHARACTERISTIC_ID'] == 1494)]
    med_rented_cost = city_row['C1_COUNT_TOTAL'].iloc[0]

    city_row = top_15_pop_df[(top_15_pop_df['GEO_NAME']==city) & (top_15_pop_df['CHARACTERISTIC_ID'] == 1495)]
    avg_rented_cost = city_row['C1_COUNT_TOTAL'].iloc[0]
    
    city_row = top_15_pop_df[(top_15_pop_df['GEO_NAME']==city) & (top_15_pop_df['CHARACTERISTIC_ID'] == 2229)]
    emp_rate = city_row['C1_COUNT_TOTAL'].iloc[0]

    shelter_and_emp_data.append({
        "City":city_name,
        "Median monthly shelter costs for owned dwellings ($)":med_owned_cost,
        "Average monthly shelter costs for owned dwellings ($)":avg_owned_cost,
        "Median monthly shelter costs for rented dwellings ($)":med_rented_cost,
        "Average monthly shelter costs for rented dwellings ($)":avg_rented_cost,
        "Employment Rate (%)":emp_rate
    })

In [39]:
shelter_and_emp_df = pd.DataFrame(shelter_and_emp_data)
shelter_and_emp_df

,City,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%)
0,Halifax,1270.0,1370.0,1170.0,1247.0,58.0
1,Québec,1140.0,1201.0,830.0,905.0,62.0
2,Montréal,1310.0,1420.0,880.0,981.0,60.7
3,Ottawa - Gatineau,1440.0,1562.0,1230.0,1296.0,59.6
4,Ottawa - Gatineau (Ontario part),1550.0,1648.0,1370.0,1412.0,59.2
5,Toronto,1900.0,2108.0,1540.0,1618.0,56.1
6,Hamilton,1500.0,1690.0,1210.0,1328.0,55.3
7,St. Catharines - Niagara,1130.0,1336.0,1080.0,1172.0,48.6
8,Kitchener - Cambridge - Waterloo,1540.0,1612.0,1300.0,1352.0,59.2
9,London,1240.0,1412.0,1110.0,1198.0,54.4
10,Windsor,1070.0,1262.0,980.0,1069.0,49.5
11,Winnipeg,1250.0,1342.0,1100.0,1140.0,60.3
12,Calgary,1740.0,1802.0,1350.0,1416.0,60.8
13,Edmonton,1700.0,1720.0,1290.0,1330.0,60.0
14,Vancouver,1620.0,1980.0,1500.0,1624.0,60.0

In [40]:
shelter_and_emp_df.to_csv("Output/shelter_and_emp_df.csv", index_label="City")