In [1]:
import pandas as pd

In [2]:
# load csv data for crime data
crime_df = pd.read_csv('Output/crime_data.csv', index_col=False, encoding='UTF-8')
crime_df

                            GEO_NAME  Crime Severity Index Value in 2021
0                            Halifax                               65.72
1                             Québec                               42.61
2                           Montréal                               55.93
3                  Ottawa - Gatineau                               49.57
4   Ottawa - Gatineau (Ontario part)                               49.25
5                            Toronto                               45.45
6                           Hamilton                               56.85
7           St. Catharines - Niagara                               62.12
8   Kitchener - Cambridge - Waterloo                               79.39
9                             London                               80.09
10                           Windsor                               74.84
11                          Winnipeg                              113.55
12                           Calgary                               72.27
13                          Edmonton                               97.45
14                         Vancouver                               81.64

In [3]:
# load csv data for weather data
weather_df = pd.read_csv('Output/weather_data.csv', index_col=False, encoding='UTF-8')
weather_df

,GEO_NAME,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng
0,Halifax,1.54,-4.00,14,75,44.6453,-63.5724
1,Québec,6.69,-1.54,100,84,46.8123,-71.2145
2,Montréal,4.63,-1.44,0,76,45.5088,-73.5878
3,Ottawa - Gatineau,3.09,-2.09,0,77,45.4772,-75.7016
4,Ottawa - Gatineau (Ontario part),3.09,-1.84,0,78,45.4112,-75.6981
5,Toronto,0.89,1.29,1,68,43.7001,-79.4163
6,Hamilton,5.66,1.10,20,73,43.2334,-79.9496
7,St. Catharines - Niagara,8.23,1.84,14,70,43.1668,-79.2496
8,Kitchener - Cambridge - Waterloo,4.47,-0.86,0,82,43.4254,-80.5112
9,London,5.14,-0.56,20,74,42.9834,-81.2330
10,Windsor,3.60,1.19,0,77,42.3001,-83.0165
11,Winnipeg,4.12,-2.17,20,90,49.8844,-97.1470
12,Calgary,3.53,-5.20,96,79,51.0501,-114.0853
13,Edmonton,2.57,0.32,96,61,53.5501,-113.4687
14,Vancouver,0.89,5.57,100,95,49.2497,-123.1193

In [4]:
# load csv data for income data
income_df = pd.read_csv('Output/income_data.csv', index_col=False, encoding='UTF-8')
income_df

                            GEO_NAME  Median Income  Rank
0   Ottawa - Gatineau (Ontario part)        47200.0     6
1                  Ottawa - Gatineau        46400.0     7
2                           Edmonton        44000.0    18
3                            Calgary        42800.0    23
4                             Québec        41600.0    30
5   Kitchener - Cambridge - Waterloo        40400.0    35
6                           Hamilton        39600.0    44
7                          Vancouver        39600.0    45
8                            Toronto        38800.0    50
9                            Halifax        38400.0    56
10                          Winnipeg        37200.0    65
11                          Montréal        36400.0    75
12                            London        35600.0    87
13                           Windsor        32800.0   118
14          St. Catharines - Niagara        29400.0   148

In [5]:
income_df.rename(columns={"Rank": "Income Ranking"}, inplace=True)

In [6]:
# load csv data for employment and shelter data
employment_shelter_df = pd.read_csv('Output/shelter_and_emp_df.csv', index_col=False, encoding='UTF-8')
employment_shelter_df

,City,City.1,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%)
0,0,Halifax,1270.0,1370.0,1170.0,1247.0,58.0
1,1,Québec,1140.0,1201.0,830.0,905.0,62.0
2,2,Montréal,1310.0,1420.0,880.0,981.0,60.7
3,3,Ottawa - Gatineau,1440.0,1562.0,1230.0,1296.0,59.6
4,4,Ottawa - Gatineau (Ontario part),1550.0,1648.0,1370.0,1412.0,59.2
5,5,Toronto,1900.0,2108.0,1540.0,1618.0,56.1
6,6,Hamilton,1500.0,1690.0,1210.0,1328.0,55.3
7,7,St. Catharines - Niagara,1130.0,1336.0,1080.0,1172.0,48.6
8,8,Kitchener - Cambridge - Waterloo,1540.0,1612.0,1300.0,1352.0,59.2
9,9,London,1240.0,1412.0,1110.0,1198.0,54.4
10,10,Windsor,1070.0,1262.0,980.0,1069.0,49.5
11,11,Winnipeg,1250.0,1342.0,1100.0,1140.0,60.3
12,12,Calgary,1740.0,1802.0,1350.0,1416.0,60.8
13,13,Edmonton,1700.0,1720.0,1290.0,1330.0,60.0
14,14,Vancouver,1620.0,1980.0,1500.0,1624.0,60.0

In [7]:
# reduce columns
columns_to_keep_employment_shelter = ['City.1', 'Median monthly shelter costs for owned dwellings ($)', 'Average monthly shelter costs for owned dwellings ($)', 'Median monthly shelter costs for rented dwellings ($)', 'Average monthly shelter costs for rented dwellings ($)', 'Employment Rate (%)']
employment_shelter_df1 = employment_shelter_df[columns_to_keep_employment_shelter]
employment_shelter_df1

,City.1,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%)
0,Halifax,1270.0,1370.0,1170.0,1247.0,58.0
1,Québec,1140.0,1201.0,830.0,905.0,62.0
2,Montréal,1310.0,1420.0,880.0,981.0,60.7
3,Ottawa - Gatineau,1440.0,1562.0,1230.0,1296.0,59.6
4,Ottawa - Gatineau (Ontario part),1550.0,1648.0,1370.0,1412.0,59.2
5,Toronto,1900.0,2108.0,1540.0,1618.0,56.1
6,Hamilton,1500.0,1690.0,1210.0,1328.0,55.3
7,St. Catharines - Niagara,1130.0,1336.0,1080.0,1172.0,48.6
8,Kitchener - Cambridge - Waterloo,1540.0,1612.0,1300.0,1352.0,59.2
9,London,1240.0,1412.0,1110.0,1198.0,54.4
10,Windsor,1070.0,1262.0,980.0,1069.0,49.5
11,Winnipeg,1250.0,1342.0,1100.0,1140.0,60.3
12,Calgary,1740.0,1802.0,1350.0,1416.0,60.8
13,Edmonton,1700.0,1720.0,1290.0,1330.0,60.0
14,Vancouver,1620.0,1980.0,1500.0,1624.0,60.0

In [8]:
employment_shelter_df1.rename(columns={"City.1": "GEO_NAME"}, inplace=True)

/var/folders/0p/153rzb85259_hj2vtznb45r00000gn/T/ipykernel_9817/821284047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  employment_shelter_df1.rename(columns={"City.1": "GEO_NAME"}, inplace=True)

In [9]:
# load csv data for culture data
condensed_culture_df = pd.read_csv('Output/condensed_culture_df.csv', index_col=False, encoding='UTF-8')
condensed_culture_df

    Unnamed: 0            Name  Participation in Cultural Activities (%)
0            0         Halifax                                      60.9
1            1          Québec                                      40.3
2            2        Montréal                                      40.3
3            3        Gatineau                                      40.3
4            4          Ottawa                                      54.8
5            5         Toronto                                      54.8
6            6        Hamilton                                      54.8
7            7  St. Catherines                                      54.8
8            8       Kitchener                                      54.8
9            9          London                                      54.8
10          10         Windsor                                      54.8
11          11        Winnipeg                                      52.7
12          12         Calgary                                      52.2
13          13        Edmonton                                      52.2
14          14       Vancouver                                      54.4

In [10]:
# bring in lookup to convert city name to GEO_NAME
cities_lookup_df = pd.read_csv('Resources/cities_lookup.csv')
lookup_columns_to_keep = ['Name', 'GEO_NAME']
reduced_lookup_df = cities_lookup_df[lookup_columns_to_keep]
reduced_lookup_df

              Name                          GEO_NAME
0          Halifax                           Halifax
1           Québec                            Québec
2         Montréal                          Montréal
3         Gatineau                 Ottawa - Gatineau
4           Ottawa  Ottawa - Gatineau (Ontario part)
5          Toronto                           Toronto
6         Hamilton                          Hamilton
7   St. Catherines          St. Catharines - Niagara
8        Kitchener  Kitchener - Cambridge - Waterloo
9           London                            London
10         Windsor                           Windsor
11        Winnipeg                          Winnipeg
12         Calgary                           Calgary
13        Edmonton                          Edmonton
14       Vancouver                         Vancouver

In [11]:
culture_df = condensed_culture_df.merge(reduced_lookup_df, on='Name', how='outer')
culture_df

,Unnamed: 0,Name,Participation in Cultural Activities (%),GEO_NAME
0,0,Halifax,60.9,Halifax
1,1,Québec,40.3,Québec
2,2,Montréal,40.3,Montréal
3,3,Gatineau,40.3,Ottawa - Gatineau
4,4,Ottawa,54.8,Ottawa - Gatineau (Ontario part)
5,5,Toronto,54.8,Toronto
6,6,Hamilton,54.8,Hamilton
7,7,St. Catherines,54.8,St. Catharines - Niagara
8,8,Kitchener,54.8,Kitchener - Cambridge - Waterloo
9,9,London,54.8,London
10,10,Windsor,54.8,Windsor
11,11,Winnipeg,52.7,Winnipeg
12,12,Calgary,52.2,Calgary
13,13,Edmonton,52.2,Edmonton
14,14,Vancouver,54.4,Vancouver

In [12]:
columns_to_keep_culture = ['GEO_NAME', 'Name', 'Participation in Cultural Activities (%)']
culture_df1 = culture_df[columns_to_keep_culture]
culture_df1

,GEO_NAME,Name,Participation in Cultural Activities (%)
0,Halifax,Halifax,60.9
1,Québec,Québec,40.3
2,Montréal,Montréal,40.3
3,Ottawa - Gatineau,Gatineau,40.3
4,Ottawa - Gatineau (Ontario part),Ottawa,54.8
5,Toronto,Toronto,54.8
6,Hamilton,Hamilton,54.8
7,St. Catharines - Niagara,St. Catherines,54.8
8,Kitchener - Cambridge - Waterloo,Kitchener,54.8
9,London,London,54.8
10,Windsor,Windsor,54.8
11,Winnipeg,Winnipeg,52.7
12,Calgary,Calgary,52.2
13,Edmonton,Edmonton,52.2
14,Vancouver,Vancouver,54.4

In [13]:
merged_df1 = crime_df.merge(weather_df, on='GEO_NAME', how='inner')
merged_df1

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193

In [14]:
merged_df2 = merged_df1.merge(income_df, on='GEO_NAME', how='outer')
merged_df2

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng,Median Income,Income Ranking
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724,38400.0,56
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145,41600.0,30
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878,36400.0,75
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016,46400.0,7
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981,47200.0,6
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163,38800.0,50
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496,39600.0,44
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496,29400.0,148
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112,40400.0,35
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330,35600.0,87
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165,32800.0,118
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470,37200.0,65
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853,42800.0,23
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687,44000.0,18
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193,39600.0,45

In [15]:
merged_df3 = merged_df2.merge(employment_shelter_df1, on='GEO_NAME', how='outer')
merged_df3

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng,Median Income,Income Ranking,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%)
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724,38400.0,56,1270.0,1370.0,1170.0,1247.0,58.0
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145,41600.0,30,1140.0,1201.0,830.0,905.0,62.0
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878,36400.0,75,1310.0,1420.0,880.0,981.0,60.7
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016,46400.0,7,1440.0,1562.0,1230.0,1296.0,59.6
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981,47200.0,6,1550.0,1648.0,1370.0,1412.0,59.2
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163,38800.0,50,1900.0,2108.0,1540.0,1618.0,56.1
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496,39600.0,44,1500.0,1690.0,1210.0,1328.0,55.3
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496,29400.0,148,1130.0,1336.0,1080.0,1172.0,48.6
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112,40400.0,35,1540.0,1612.0,1300.0,1352.0,59.2
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330,35600.0,87,1240.0,1412.0,1110.0,1198.0,54.4
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165,32800.0,118,1070.0,1262.0,980.0,1069.0,49.5
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470,37200.0,65,1250.0,1342.0,1100.0,1140.0,60.3
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853,42800.0,23,1740.0,1802.0,1350.0,1416.0,60.8
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687,44000.0,18,1700.0,1720.0,1290.0,1330.0,60.0
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193,39600.0,45,1620.0,1980.0,1500.0,1624.0,60.0

In [16]:
merged_df4 = merged_df3.merge(culture_df1, on='GEO_NAME', how='outer')
merged_df4

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng,Median Income,Income Ranking,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%),Name,Participation in Cultural Activities (%)
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724,38400.0,56,1270.0,1370.0,1170.0,1247.0,58.0,Halifax,60.9
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145,41600.0,30,1140.0,1201.0,830.0,905.0,62.0,Québec,40.3
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878,36400.0,75,1310.0,1420.0,880.0,981.0,60.7,Montréal,40.3
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016,46400.0,7,1440.0,1562.0,1230.0,1296.0,59.6,Gatineau,40.3
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981,47200.0,6,1550.0,1648.0,1370.0,1412.0,59.2,Ottawa,54.8
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163,38800.0,50,1900.0,2108.0,1540.0,1618.0,56.1,Toronto,54.8
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496,39600.0,44,1500.0,1690.0,1210.0,1328.0,55.3,Hamilton,54.8
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496,29400.0,148,1130.0,1336.0,1080.0,1172.0,48.6,St. Catherines,54.8
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112,40400.0,35,1540.0,1612.0,1300.0,1352.0,59.2,Kitchener,54.8
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330,35600.0,87,1240.0,1412.0,1110.0,1198.0,54.4,London,54.8
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165,32800.0,118,1070.0,1262.0,980.0,1069.0,49.5,Windsor,54.8
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470,37200.0,65,1250.0,1342.0,1100.0,1140.0,60.3,Winnipeg,52.7
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853,42800.0,23,1740.0,1802.0,1350.0,1416.0,60.8,Calgary,52.2
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687,44000.0,18,1700.0,1720.0,1290.0,1330.0,60.0,Edmonton,52.2
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193,39600.0,45,1620.0,1980.0,1500.0,1624.0,60.0,Vancouver,54.4

In [17]:
merged_df4['Median Income/Average Monthly Rent Cost'] = merged_df4.apply(lambda x: x['Median Income'] / x['Average monthly shelter costs for rented dwellings ($)'], axis=1)
merged_df4

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng,Median Income,Income Ranking,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%),Name,Participation in Cultural Activities (%),Median Income/Average Monthly Rent Cost
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724,38400.0,56,1270.0,1370.0,1170.0,1247.0,58.0,Halifax,60.9,30.793905
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145,41600.0,30,1140.0,1201.0,830.0,905.0,62.0,Québec,40.3,45.966851
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878,36400.0,75,1310.0,1420.0,880.0,981.0,60.7,Montréal,40.3,37.104995
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016,46400.0,7,1440.0,1562.0,1230.0,1296.0,59.6,Gatineau,40.3,35.802469
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981,47200.0,6,1550.0,1648.0,1370.0,1412.0,59.2,Ottawa,54.8,33.427762
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163,38800.0,50,1900.0,2108.0,1540.0,1618.0,56.1,Toronto,54.8,23.980222
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496,39600.0,44,1500.0,1690.0,1210.0,1328.0,55.3,Hamilton,54.8,29.819277
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496,29400.0,148,1130.0,1336.0,1080.0,1172.0,48.6,St. Catherines,54.8,25.085324
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112,40400.0,35,1540.0,1612.0,1300.0,1352.0,59.2,Kitchener,54.8,29.881657
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330,35600.0,87,1240.0,1412.0,1110.0,1198.0,54.4,London,54.8,29.716194
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165,32800.0,118,1070.0,1262.0,980.0,1069.0,49.5,Windsor,54.8,30.682881
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470,37200.0,65,1250.0,1342.0,1100.0,1140.0,60.3,Winnipeg,52.7,32.631579
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853,42800.0,23,1740.0,1802.0,1350.0,1416.0,60.8,Calgary,52.2,30.225989
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687,44000.0,18,1700.0,1720.0,1290.0,1330.0,60.0,Edmonton,52.2,33.082707
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193,39600.0,45,1620.0,1980.0,1500.0,1624.0,60.0,Vancouver,54.4,24.384236

In [18]:
merged_df4['Median Income/Average Monthly Shelter Cost for Owned Dwellings'] = merged_df4.apply(lambda x: x['Median Income'] / x['Average monthly shelter costs for owned dwellings ($)'], axis=1)
merged_df4

,GEO_NAME,Crime Severity Index Value in 2021,Wind Speed,Max Temp,Cloudiness,Humidity,Lat,Lng,Median Income,Income Ranking,Median monthly shelter costs for owned dwellings ($),Average monthly shelter costs for owned dwellings ($),Median monthly shelter costs for rented dwellings ($),Average monthly shelter costs for rented dwellings ($),Employment Rate (%),Name,Participation in Cultural Activities (%),Median Income/Average Monthly Rent Cost,Median Income/Average Monthly Shelter Cost for Owned Dwellings
0,Halifax,65.72,1.54,-4.00,14,75,44.6453,-63.5724,38400.0,56,1270.0,1370.0,1170.0,1247.0,58.0,Halifax,60.9,30.793905,28.029197
1,Québec,42.61,6.69,-1.54,100,84,46.8123,-71.2145,41600.0,30,1140.0,1201.0,830.0,905.0,62.0,Québec,40.3,45.966851,34.637802
2,Montréal,55.93,4.63,-1.44,0,76,45.5088,-73.5878,36400.0,75,1310.0,1420.0,880.0,981.0,60.7,Montréal,40.3,37.104995,25.633803
3,Ottawa - Gatineau,49.57,3.09,-2.09,0,77,45.4772,-75.7016,46400.0,7,1440.0,1562.0,1230.0,1296.0,59.6,Gatineau,40.3,35.802469,29.705506
4,Ottawa - Gatineau (Ontario part),49.25,3.09,-1.84,0,78,45.4112,-75.6981,47200.0,6,1550.0,1648.0,1370.0,1412.0,59.2,Ottawa,54.8,33.427762,28.640777
5,Toronto,45.45,0.89,1.29,1,68,43.7001,-79.4163,38800.0,50,1900.0,2108.0,1540.0,1618.0,56.1,Toronto,54.8,23.980222,18.406072
6,Hamilton,56.85,5.66,1.10,20,73,43.2334,-79.9496,39600.0,44,1500.0,1690.0,1210.0,1328.0,55.3,Hamilton,54.8,29.819277,23.431953
7,St. Catharines - Niagara,62.12,8.23,1.84,14,70,43.1668,-79.2496,29400.0,148,1130.0,1336.0,1080.0,1172.0,48.6,St. Catherines,54.8,25.085324,22.005988
8,Kitchener - Cambridge - Waterloo,79.39,4.47,-0.86,0,82,43.4254,-80.5112,40400.0,35,1540.0,1612.0,1300.0,1352.0,59.2,Kitchener,54.8,29.881657,25.062035
9,London,80.09,5.14,-0.56,20,74,42.9834,-81.2330,35600.0,87,1240.0,1412.0,1110.0,1198.0,54.4,London,54.8,29.716194,25.212465
10,Windsor,74.84,3.60,1.19,0,77,42.3001,-83.0165,32800.0,118,1070.0,1262.0,980.0,1069.0,49.5,Windsor,54.8,30.682881,25.990491
11,Winnipeg,113.55,4.12,-2.17,20,90,49.8844,-97.1470,37200.0,65,1250.0,1342.0,1100.0,1140.0,60.3,Winnipeg,52.7,32.631579,27.719821
12,Calgary,72.27,3.53,-5.20,96,79,51.0501,-114.0853,42800.0,23,1740.0,1802.0,1350.0,1416.0,60.8,Calgary,52.2,30.225989,23.751387
13,Edmonton,97.45,2.57,0.32,96,61,53.5501,-113.4687,44000.0,18,1700.0,1720.0,1290.0,1330.0,60.0,Edmonton,52.2,33.082707,25.581395
14,Vancouver,81.64,0.89,5.57,100,95,49.2497,-123.1193,39600.0,45,1620.0,1980.0,1500.0,1624.0,60.0,Vancouver,54.4,24.384236,20.000000

In [19]:
merged_df4.rename(columns={"GEO_NAME": "Long Name"}, inplace=True)

In [20]:
# Export the merged data into a csv

merged_df4.to_csv("Output/merged_data.csv", index=False)