In [3]:
import pandas as pd

## Questions
    - Q1
    - Q2
    - Q3
    - Q4
    - Q5

You need the encoding line due to French characters

In [4]:
df = pd.read_csv('Resources/98-401-X2021002_English_CSV_data.csv', encoding='ISO-8859-1')


df.head()

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,2.0,NaN,NaN,...,NaN,...
3,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...

# So, this is the 2021 census data for the entirety of Canada.  
    - GEO_NAME refers to the province/territory or you can use Canada to get the grand total.
    - If you look at the 98-401...meta.txt there's a portion that has CHARACTERISTIC_ID and the corresponding statistic which is stored in CHARACTERISTIC_NAME.  There are...a lot.

In [5]:
df.columns

Index(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', 'GEO_NAME',
       'TNR_SF', 'TNR_LF', 'DATA_QUALITY_FLAG', 'CHARACTERISTIC_ID',
       'CHARACTERISTIC_NAME', 'CHARACTERISTIC_NOTE', 'C1_COUNT_TOTAL',
       'SYMBOL', 'C2_COUNT_MEN+', 'SYMBOL.1', 'C3_COUNT_WOMEN+', 'SYMBOL.2',
       'C10_RATE_TOTAL', 'SYMBOL.3', 'C11_RATE_MEN+', 'SYMBOL.4',
       'C12_RATE_WOMEN+', 'SYMBOL.5'],
      dtype='object')

So, I just did a little test below after looking at some of the CHARACTERISTIC_ID and filtered the ones <= 7 which is population info.

In [6]:
filtered_df = df[df['CHARACTERISTIC_ID'] <= 7]

In [7]:
filtered_df.head(7)

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,2.0,NaN,NaN,...,NaN,...
3,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
5,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,6,Population density per square kilometre,...,NaN,...,NaN,...,228.2,NaN,NaN,...,NaN,...
6,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,7,Land area in square kilometres,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...

In [8]:
group_df=filtered_df.groupby(['GEO_NAME','CHARACTERISTIC_NAME'])['C1_COUNT_TOTAL'].sum()

In [9]:
filtered_df['GEO_NAME'].unique()

array(["St. John's", 'Grand Falls-Windsor', 'Gander', 'Corner Brook',
       'Charlottetown', 'Summerside', 'Halifax', 'Kentville', 'Truro',
       'New Glasgow', 'Cape Breton', 'Moncton', 'Saint John',
       'Fredericton', 'Bathurst', 'Miramichi', 'Campbellton',
       'Campbellton (New Brunswick part)', 'Campbellton (Quebec part)',
       'Edmundston', 'Matane', 'Rimouski', 'Rivière-du-Loup',
       'Baie-Comeau', 'Saguenay', 'Alma', 'Dolbeau-Mistassini',
       'Sept-Îles', 'Québec', 'Sainte-Marie', 'Saint-Georges',
       'Thetford Mines', 'Sherbrooke', 'Cowansville', 'Victoriaville',
       'Trois-Rivières', 'Shawinigan', 'Drummondville', 'Granby',
       'Saint-Hyacinthe', 'Sorel-Tracy', 'Joliette', 'Montréal',
       'Salaberry-de-Valleyfield', 'Sainte-Agathe-des-Monts', 'Lachute',
       "Val-d'Or", 'Amos', 'Rouyn-Noranda', 'Cornwall', 'Hawkesbury',
       'Hawkesbury (Quebec part)', 'Hawkesbury (Ontario part)',
       'Ottawa - Gatineau', 'Ottawa - Gatineau (Quebec part)',
       'Ottawa - Gatineau (Ontario part)', 'Brockville', 'Pembroke',
       'Petawawa', 'Kingston', 'Belleville - Quinte West', 'Cobourg',
       'Port Hope', 'Peterborough', 'Kawartha Lakes', 'Centre Wellington',
       'Oshawa', 'Ingersoll', 'Toronto', 'Hamilton',
       'St. Catharines - Niagara', 'Kitchener - Cambridge - Waterloo',
       'Brantford', 'Woodstock', 'Tillsonburg', 'Norfolk', 'Guelph',
       'Stratford', 'London', 'Chatham-Kent', 'Windsor', 'Sarnia', 'Essa',
       'Wasaga Beach', 'Owen Sound', 'Collingwood', 'Barrie', 'Orillia',
       'Midland', 'North Bay', 'Greater Sudbury / Grand Sudbury',
       'Elliot Lake', 'Timmins', 'Sault Ste. Marie', 'Thunder Bay',
       'Kenora', 'Winnipeg', 'Winkler', 'Steinbach', 'Portage la Prairie',
       'Brandon', 'Thompson', 'Regina', 'Yorkton', 'Moose Jaw',
       'Swift Current', 'Saskatoon', 'North Battleford', 'Prince Albert',
       'Estevan', 'Weyburn', 'Medicine Hat', 'Brooks', 'Lethbridge',
       'Okotoks', 'High River', 'Calgary', 'Strathmore', 'Canmore',
       'Red Deer', 'Sylvan Lake', 'Lacombe', 'Camrose', 'Edmonton',
       'Lloydminster', 'Lloydminster (Saskatchewan part)',
       'Lloydminster (Alberta part)', 'Grande Prairie', 'Wood Buffalo',
       'Wetaskiwin', 'Cranbrook', 'Nelson', 'Trail', 'Penticton',
       'Kelowna', 'Vernon', 'Salmon Arm', 'Kamloops', 'Chilliwack',
       'Abbotsford - Mission', 'Vancouver', 'Squamish', 'Victoria',
       'Ladysmith', 'Duncan', 'Nanaimo', 'Parksville', 'Port Alberni',
       'Courtenay', 'Campbell River', 'Powell River', 'Williams Lake',
       'Quesnel', 'Prince Rupert', 'Terrace', 'Prince George',
       'Dawson Creek', 'Fort St. John', 'Whitehorse', 'Yellowknife'],
      dtype=object)

In [19]:
pop_df = filtered_df[filtered_df['CHARACTERISTIC_ID']==1]

In [20]:
pop_df.head()

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2631,2021,2021S0504010,10,Census agglomeration,Grand Falls-Windsor,1.0,1.5,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
5262,2021,2021S0504011,11,Census agglomeration,Gander,1.2,1.7,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
7893,2021,2021S0504015,15,Census agglomeration,Corner Brook,1.3,4.2,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
10524,2021,2021S0504105,105,Census agglomeration,Charlottetown,2.1,2.8,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...

In [21]:
pop_df.columns

Index(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', 'GEO_NAME',
       'TNR_SF', 'TNR_LF', 'DATA_QUALITY_FLAG', 'CHARACTERISTIC_ID',
       'CHARACTERISTIC_NAME', 'CHARACTERISTIC_NOTE', 'C1_COUNT_TOTAL',
       'SYMBOL', 'C2_COUNT_MEN+', 'SYMBOL.1', 'C3_COUNT_WOMEN+', 'SYMBOL.2',
       'C10_RATE_TOTAL', 'SYMBOL.3', 'C11_RATE_MEN+', 'SYMBOL.4',
       'C12_RATE_WOMEN+', 'SYMBOL.5'],
      dtype='object')

In [22]:
pop_group=pop_df.groupby(['GEO_NAME','CHARACTERISTIC_NAME'])

## Top 25 Cities by Population

In [29]:
pop_group['C1_COUNT_TOTAL'].max().sort_values(ascending=False).head(25)

GEO_NAME                          CHARACTERISTIC_NAME
Toronto                           Population, 2021       6202225.0
Montréal                          Population, 2021       4291732.0
Vancouver                         Population, 2021       2642825.0
Ottawa - Gatineau                 Population, 2021       1488307.0
Calgary                           Population, 2021       1481806.0
Edmonton                          Population, 2021       1418118.0
Ottawa - Gatineau (Ontario part)  Population, 2021       1135014.0
Québec                            Population, 2021        839311.0
Winnipeg                          Population, 2021        834678.0
Hamilton                          Population, 2021        785184.0
Kitchener - Cambridge - Waterloo  Population, 2021        575847.0
London                            Population, 2021        543551.0
Halifax                           Population, 2021        465703.0
St. Catharines - Niagara          Population, 2021        433604.0
Windsor                           Population, 2021        422630.0
Oshawa                            Population, 2021        415311.0
Victoria                          Population, 2021        397237.0
Ottawa - Gatineau (Quebec part)   Population, 2021        353293.0
Saskatoon                         Population, 2021        317480.0
Regina                            Population, 2021        249217.0
Sherbrooke                        Population, 2021        227398.0
Kelowna                           Population, 2021        222162.0
Barrie                            Population, 2021        212856.0
St. John's                        Population, 2021        212579.0
Abbotsford - Mission              Population, 2021        195726.0
Name: C1_COUNT_TOTAL, dtype: float64

In [47]:
top_25_cities = pop_group['C1_COUNT_TOTAL'].max().sort_values(ascending=False).head(25)
top_25_cities = top_25_cities.index.get_level_values(0)
mask = df['GEO_NAME'].isin(top_25_cities)
top_25_pop_df = df[mask]

In [50]:

top_25_pop_df.head()

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,2.0,NaN,NaN,...,NaN,...
3,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021S0503001,1,Census metropolitan area,St. John's,2.9,4.1,0,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...